<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gwy.dao.DepartmentMapper" >
    <insert id="addDepartment">
        INSERT INTO HRM_DEPARTMENT VALUES (DEPARTMENT_SEQ.nextval,#{d_name},sysdate)
    </insert>
    <update id="updateDepartment">
        UPDATE HRM_DEPARTMENT SET D_NAME=#{1} where D_ID=#{0}
    </update>
    <delete id="deleteDepartment">
        DELETE FROM HRM_DEPARTMENT where D_ID=#{d_id}
    </delete>

    <select id="getDepartment" resultMap="departmentMap">
        SELECT * FROM HRM_DEPARTMENT
    </select>
    <resultMap id="departmentMap" type="com.gwy.model.Department">
        <id property="d_id" column="D_ID"/>
        <result property="d_name" column="D_NAME"/>
        <result property="d_date" column="D_DATE"/>
    </resultMap>
</mapper>
